@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;

.destination {
  @include page-layout-mobile(
    ".//destination/background-destination-mobile.jpg"
  );

  @include media-tablet {
    @include page-layout-tablet(
      ".//destination/background-destination-tablet.jpg"
    );
  }

  @include media-desktop {
    @include page-layout-desktop(
      ".//destination/background-destination-desktop.jpg"
    );
  }

  &__main {
    @include max-width;
    padding: 0 24px;

    @include media-tablet {
      padding: 0 39px;
    }

    @include media-desktop {
      padding: 0 64px;
    }
  }

  &__content {
    @include media-desktop {
      display: flex;
      justify-content: space-between;
      margin-top: 64px;
    }
  }

  &__img {
    display: block;
    width: 170px;
    margin: auto;
    margin-bottom: 26px;

    @include media-tablet {
      width: 300px;
      margin-bottom: 53px;
    }

    @include media-desktop {
      width: 445px;
      margin: 0;
      margin-right: 64px;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    height: 28px;
    margin: auto;
    margin-bottom: 20px;

    @include media-tablet {
      margin-bottom: 32px;
    }

    @include media-desktop {
      justify-content: start;
    }
  }

  &__item {
    list-style: none;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.36px;
    color: $light-blue;
    margin-right: 26px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    @include media-tablet {
      font-size: 16px;
      margin-right: 36px;

      &:hover {
        @include media-tablet {
          border-bottom: 3px solid #84858a;
        }
      }
    }

    &--active {
      border-bottom: 3px solid $white;

      &:hover {
        @include media-tablet {
          border-bottom: 3px solid $white;
        }
      }
    }
  }

  &__name {
    @include bellefair;
    text-align: center;
    text-transform: uppercase;
    font-size: 56px;
    font-weight: 400;

    @include media-tablet {
      margin-bottom: 8px;
    }

    @include media-desktop {
      text-align: start;
      font-size: 100px;
    }
  }

  &__description {
    text-align: center;
    font-size: 15px;
    color: $light-blue;
    line-height: 25px;
    margin-bottom: 32px;

    @include media-tablet {
      font-size: 16px;
      width: 573px;
      margin: auto;
      padding-bottom: 49px;
    }

    @include media-desktop {
      text-align: start;
      font-size: 18px;
    }
  }

  &__info-container {
    border-top: 1px solid $grey;
    padding-top: 32px;

    @include media-tablet {
      display: flex;
      justify-content: space-around;
      width: 573px;
      margin: auto;
    }

    @include media-desktop {
      justify-content: start;
    }
  }

  &__info {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 32px;

    @include media-desktop {
      text-align: start;
      margin-right: 79px;
    }

    &:last-child {
      margin-bottom: 0;

      @include media-desktop {
        margin-right: 0;
      }
    }
  }

  &__label {
    font-size: 14px;
    color: $light-blue;
    margin-bottom: 12px;
    letter-spacing: 2.36px;
  }

  &__value {
    @include bellefair;
    font-size: 28px;
  }
}
