@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;

.destination {
  @include page-layout-mobile(
    "./assets/destination/background-destination-mobile.jpg"
  );

  @include media-tablet {
    @include page-layout-tablet(
      "./assets/destination/background-destination-tablet.jpg"
    );
  }

  &__img {
    display: block;
    width: 170px;
    margin: auto;
    margin-bottom: 26px;

    @include media-tablet {
      width: 300px;
      margin-bottom: 53px;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    height: 28px;
    margin: auto;
    margin-bottom: 20px;

    @include media-tablet {
      margin-bottom: 32px;
    }
  }

  &__item {
    list-style: none;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.36px;
    color: $light-blue;
    margin-right: 26px;

    &:last-child {
      margin-right: 0;
    }

    @include media-tablet {
      font-size: 16px;
      margin-right: 36px;
    }

    &--active {
      border-bottom: 3px solid $white;
    }
  }

  &__name {
    @include bellefair;
    text-align: center;
    text-transform: uppercase;
    font-size: 56px;
    font-weight: 400;

    @include media-tablet {
      margin-bottom: 8px;
    }
  }

  &__description {
    text-align: center;
    font-size: 15px;
    color: $light-blue;
    line-height: 25px;
    margin-bottom: 32px;

    @include media-tablet {
      width: 573px;
      margin: auto;
      padding-bottom: 49px;
    }
  }

  &__info-container {
    border-top: 1px solid $grey;
    padding-top: 32px;

    @include media-tablet {
      display: flex;
      justify-content: space-around;
      width: 573px;
      margin: auto;
    }
  }

  &__info {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__label {
    font-size: 14px;
    color: $light-blue;
    margin-bottom: 12px;
    letter-spacing: 2.36px;
  }

  &__value {
    @include bellefair;
    font-size: 28px;
  }
}
