@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;

.technology {
  @include page-layout-mobile(
    "./assets/technology/background-technology-mobile.jpg"
  );

  @include media-tablet {
    @include page-layout-tablet(
      "./assets/technology/background-technology-tablet.jpg"
    );
  }

  @include media-desktop {
    @include page-layout-desktop(
      "./assets/technology/background-technology-desktop.jpg"
    );
  }

  &__main {
    @include max-width;
  }

  &__title-container {
    padding: 0 24px;

    @include media-tablet {
      padding: 0 39px;
    }
  }

  &__content {
    @include media-desktop {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__img {
    display: block;
    width: 100%;

    @include media-tablet {
      margin-top: 60px;
    }

    @include media-desktop {
      width: 515px;
      margin-top: 0;
    }
  }

  &__below-image {
    margin-top: 34px;
    padding: 0 24px;

    @include media-tablet {
      margin-top: 56px;
      padding: 0 39px;
    }

    @include media-desktop {
      display: flex;
      margin-top: 0;
    }
  }

  &__nav {
    display: flex;
    justify-content: center;
    margin-bottom: 26px;

    @include media-tablet {
      margin-bottom: 44px;
    }

    @include media-desktop {
      flex-direction: column;
      justify-content: space-between;
      margin: 0;
      margin-right: 80px;
    }
  }

  &__item {
    @include bellefair;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid $grey;
    margin-left: 16px;
    cursor: pointer;

    &:hover {
      border: 1px solid $white;
    }

    @include media-tablet {
      font-size: 24px;
      width: 60px;
      height: 60px;
    }

    @include media-desktop {
      font-size: 32px;
      width: 80px;
      height: 80px;
      margin: 0;
      margin-bottom: 32px;
    }

    &--active {
      color: $dark-blue;
      background-color: $white;
      border: 1px solid white;
    }

    &:last-child {
      @include media-desktop {
        margin-bottom: 0;
      }
    }
  }

  &__info {
    text-align: center;

    @include media-desktop {
      text-align: start;
    }
  }

  &__terminology {
    letter-spacing: 2.36px;
    text-transform: uppercase;
    color: $light-blue;
    margin-bottom: 9px;

    @include media-tablet {
      margin-bottom: 16px;
    }
  }

  &__name {
    @include bellefair;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 16px;

    @include media-tablet {
      font-size: 40px;
    }

    @include media-desktop {
      font-size: 56px;
    }
  }

  &__description {
    line-height: 2;
    font-size: 15px;
    color: $light-blue;

    @include media-tablet {
      font-size: 16px;
      width: 458px;
      margin: auto;
    }

    @include media-desktop {
      font-size: 18px;
    }
  }
}
